/**********************
        Assets
**********************/

@import "assets/_colors";

/**********************
         Base
**********************/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
section {
    min-width: 100vw;
    min-height: 100vh;
}
h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.5em;
}
p {
    line-height: 1.5em;
}

/**********************
    Scroll indicator
**********************/

.main-nav {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    margin: 0;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    .nav-item p:after {
        content: '\25CB';
    }
    .nav-item {
        color: $lightpeach;
        text-decoration: none;
        font-size: 1.8em;
        transition: color 0.3s;
        padding: 0.2em;
        display: block;
    }
    .nav-item p {
        text-align: right;
    }
    .nav-item:hover p:after,
    .nav-item.active p:after {
        font-size: 0.6em;
        content: '\25C9';
        //color: #563936;
        color: $peach;
    }
    .nav-item span {
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        margin-right: 10px;
        font-size: 0.55em;
        text-transform: uppercase;
    }
    .nav-item:hover span {
        visibility: visible;
        opacity: 1;
    }
}

/**********************
         Home
**********************/

section.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/palmtrees.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        color: #fff;
        font-style: italic;
        font-weight: 300;
        font-size: 3.5em;
        border: 2px solid #fff;
        padding: 40px;
        box-sizing: border-box;
    }
}

/**********************
     Section: Info
**********************/

section.info {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    img {
        position: absolute;
        height: 41vh;
        z-index: 1;
        margin: 110px 0 0 2%;
        opacity: 0;
        transition: 0.5s;
    }
    .bg-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/coachella.jpg);
        background-size: cover;
        background-position: 50% 40%;
        background-repeat: no-repeat;
        margin-top: 80px;
        width: 100%;
        height: 50vh;
        z-index: 0;
        .text-block {
            position: absolute;
            background-color: $lightpeach;
            opacity: 0.97;
            color: $purple;
            box-sizing: border-box;
            margin: 200px 10% 2% 0;
            padding: 4% 8%;
            width: 95%;
            height: auto;
            min-height: 50vh;
        }
    }
}

/**********************
   Section: Coachella
**********************/

section.coachella {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img-block {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 70vh;
        width: 90%;
        box-sizing: border-box;
        img {
            width: 90%;
            border: 20px solid $nude;
        }
    }
    .text-block {
        width: 90%;
        box-sizing: border-box;
        padding: 20px;
        margin: 100px 0 0 0;
        transition: 0.5s;
        p {
            padding: 0;
        }
        button {
            border: 0;
            outline: 0;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $peach;
            color: #fff;
            padding: 20px;
            margin-top: 20px;
            width: 100%;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .slide-in {
        margin: 0;
    }
}

/**********************
         Footer
**********************/

footer {
    background: $nude;
    min-height: 500px;
}