/**********************
        Assets
**********************/

@import "assets/_colors";

/**********************
         Base
**********************/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
section {
    min-width: 100vw;
    min-height: 100vh;
}
h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 2px;
}
p {
    line-height: 1.5em;
}

/**********************
    Hamburger menu
**********************/

.main-nav.mobile {
    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #fff;
        height: 100%;
        position: fixed;
        left: 0;
        overflow: hidden;
        top: -800px;
        transition: all 1s;
        z-index: 3;
        a {
            font-size: 1.2em;
            font-weight: normal;
            text-transform: uppercase;
            color: #efefef;
            margin-bottom: 8px;
            line-height: 2em;
            letter-spacing: 2px;
            text-decoration: none;
            &:hover {
                color: $sunny;
            }
        }
    }
    input[type=checkbox] {
        position: fixed;
        opacity: 0;
        top: 25px;
        right: 25px; 
        &:checked ~ .nav-items {
            top: 0;
            background-color: $peach;
            opacity: 1;
        }
        &:checked ~ .menu {
            z-index: 4; 
            span {
              transform: scale3d(0,1,1);
            }
            &:after{
              transform: rotate3d(0,0,1,45deg);
            }
            &:before{
              transform: rotate3d(0,0,1,-45deg);
            }
        }
    }
    .menu {
        width: 55px;
        height: 45px;
        display: block;
        cursor: pointer;
        top: 0;
        right: 0;
        position: fixed;
        z-index: 1;
        background: $peach;
        padding: 11px;
        box-sizing: border-box;
        &:after,&:before {
            content: '';
            width: 55%;
            height: 2.5px;
            position: absolute;
            background: #fff;
            top: 46%;
            left: 24%;
            transition: transform 0.5s;
            transform-origin: 50% 50%;
        }
        &:after{
            transform: translate3d(0,-10px,0) scale3d(0.8,1,1);
        }
        &:before {
            transform: translate3d(0,10px,0) scale3d(0.8,1,1);
        }
        span {
            position: absolute;
            width: 43%;
            overflow: hidden;
            height: 2.5px;
            background: #f2f2f2;
            top: 46%;
            left: 29%;
            transition: all;
        }
        &:hover {
            background: $sunny;
        }
    }
}

/**********************
         Home
**********************/

section.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/palmtrees.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: #fff;
            font-style: italic;
            font-weight: 300;
            font-size: 2.5em;
            border: 2px solid #fff;
            padding: 40px 25px;
            box-sizing: border-box;
        }
        img {
            position: absolute;
            bottom: 50px;
            height: 50px;
            transition: 0.3s;
            opacity: 0.9;
            &:hover {
                bottom: 40px;
            }
        }
    }
}

/**********************
     Section: Info
**********************/

section.info {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    img {
        position: absolute;
        height: 41vh;
        z-index: 1;
        margin: 110px 0 0 2%;
        opacity: 0;
        transition: 0.5s;
    }
    .bg-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/coachella.jpg);
        background-size: cover;
        background-position: 50% 40%;
        background-repeat: no-repeat;
        margin-top: 80px;
        width: 100%;
        height: 50vh;
        z-index: 0;
        .text-block {
            position: absolute;
            background-color: $lightpeach;
            opacity: 0.97;
            color: $purple;
            box-sizing: border-box;
            margin: 200px 10% 2% 0;
            padding: 4% 8%;
            width: 95%;
            height: auto;
            min-height: 50vh;
        }
    }
}

/**********************
   Section: Coachella
**********************/

section.coachella {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img-block {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 70vh;
        width: 90%;
        box-sizing: border-box;
        img {
            width: 90%;
            border: 20px solid $nude;
        }
    }
    .text-block {
        width: 90%;
        box-sizing: border-box;
        padding: 20px;
        margin: 100px 0 0 0;
        transition: 0.5s;
        p {
            padding: 0;
        }
        button {
            border: 0;
            outline: 0;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $peach;
            color: #fff;
            padding: 20px;
            margin-top: 20px;
            width: 100%;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .slide-in {
        margin: 0;
    }
}

/**********************
         Footer
**********************/

footer.footer {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    padding: 0 0 50px 0;
    .logo, .palm, .social {
        margin-bottom: 30px;
        height: auto;
    }
    .palm {
        display: flex;
        justify-content: center;
        height: 100px;
        width: 100%;
        svg {
            height: 180px;
            position: absolute;
            bottom: 210px;
        }
    }
    .logo {
        img {
            width: 200px;
            height: auto; 
        }
        p {
            font-size: 0.57em;
            margin: 5px 0 0 0;
        }
    }
    .social {
        font-size: 2em;
        color: #833d8e;
        i {
            margin: 0 5px;
            transition: 0.2s;
            &:hover {
                color: $sunny;
            }
        }
    }

    a.to-top {
        position: fixed;
        right: 0;
        bottom: 0;
        padding: 8px 21px;
        background: $peach;
        font-size: 1.5em;
        text-decoration: none;
        color: #fff;
        transition: 0.3s;
        visibility: hidden;
        &:hover {
            background: $sunny;
        }
    }
}
