/**********************
         Base
**********************/

h2 {
    font-size: 2em;
}

/**********************
         Home
**********************/

section.home {
    .heading {
        h1 {
            font-size: 4.5em;
            padding: 80px;
        }
    }
}

/**********************
     Section: Info
**********************/

section.info {
    display: flex;
    align-items: center;
    img {
        position: absolute;
        height: 80vh;
        z-index: 1;
        margin: 300px 0 0 10%;
        opacity: 0;
        transition: 0.5s;
    }
    .bg-block {
        flex-direction: row;
        justify-content: flex-end;
        z-index: 0;
        margin-top: 0;
        .text-block {
            position: relative;
            background-color: $lightpeach;
            opacity: 0.97;
            color: $purple;
            box-sizing: border-box;
            margin: 2% 10% 2% 0;
            padding: 20px 60px;
            width: 50%;
            height: auto;
            min-height: 35vh;
        }
    }
}

/**********************
   Section: Coachella
**********************/

section.coachella {
    flex-direction: row;
    .img-block {
        width: 50%;
        img {
            width: 70%;
            border: 50px solid $nude;
        }
    }
    .text-block {
        width: 50%;
        padding: 0;
        margin: 0 0 0 100px;
        p {
            padding: 0 150px 0 0;
        }
        button {
            width: auto;
        }
    }
    .slide-in {
        margin: 0;
    }
}