.top-list {
    position: relative;
    height: 100%;
    width: 300%;
    img {
        border: solid 6px red;
        max-width: 250px;
        position: absolute;
    }
    .active {
        animation-name: slideshow;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        box-sizing: border-box;
        &:hover {
            animation-play-state: paused;
            z-index: 1;
        }
    }
    @keyframes slideshow {
        0%   {transform: translateX(1000%)}
        100% {transform: translateX(-200%)}
    }
}