/**********************
         Base
**********************/

h2 {
    font-size: 1.8em;
}

/**********************
         Home
**********************/

section.home {
    .heading {
        h1 {
            font-size: 3.5em;
            padding: 80px;
        }
    }
}

/**********************
     Section: Info
**********************/

section.info {
    img {
        height: 50vh;
        margin: 110px 0 0 5%;
    }
    .bg-block {
        .text-block {
            margin: 250px 10% 2% 0;
            padding: 4% 8%;
            width: 95%;
            height: auto;
            min-height: 50vh;
            max-width: 800px;
        }
    }
}

/**********************
   Section: Coachella
**********************/

section.coachella {
    .img-block, .text-block {
        width: 70%;
    }
}
/**********************
         Footer
**********************/

footer.footer {
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
    padding: 50px 0;
    .logo, .palm, .social {
        width: 25%;
        margin: 0 auto;
    }
    .logo {
        padding-top: 25px;
    }
    .palm {
        svg {
            height: 240px;
            position: absolute;
            bottom: 50px;
        }
    }
}