/**********************
         Home
**********************/

section.home {
    h1 {
        font-size: 5.5em;
        padding: 80px;
    }
}

/**********************
   Section: Coachella
**********************/

section.coachella {
    .img-block, .text-block {
        width: 70%;
    }
}